body{
  font-family: 'Roboto', sans-serif;
}
.ag-relative{
  position: relative;
}
nav{
  margin:0;
}
#ag-navbar{
  margin:0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 999;
}
.margin-left-80{
  margin-left:80px;
}
.ag-list{
  padding-top:7px;
  padding-bottom:7px;
}
.ag-list ul{
  padding-left:0;
}
.ag-list ul li{
  list-style-type:none;
}
.ag-border-left{
  border-left: 1px solid grey;
  padding-left: 20px;
}
.ag-margin-left-20{
  margin-left:20px;
}
.ag-margin-bot-20{
  margin-bottom:20px;
}
.ag-list li~li{
  margin-top:7px;  
}
.ag-margin-top-50{
  margin-top: 50px;
}
.ag-margin-top-20{
  margin-top: 20px;
}
.ag-margin-bot-20{
  margin-top: 20px;
}
.ag-font-18{
  font-size: 18px;
}
.ag-min-height{
  min-height: 100px;
}
.ag-bg-pink{
  background-color: pink;
  height: 30px;
}
.ag-bg-red{
  background-color: red;
  height: 30px;
}
.ag-bg-grey{
  background-color:#F3F5F9;
}
#ag-stories{
  padding: 20px;
}
.ag-carousel img{
  width:50%;
  margin:0 2%;
}
.ag-glyphicons{
  font-size:2em;
  color:#031C4E;
}
.ag-glyphicon-inactive{
  opacity: 0.5;
}
.ag-jumbotron{
  background-image: url(../img/bg-banner-home.jpg);
  background-position: center;
  background-size: cover;
  width:100%;
  margin-top: 50px;
}
#features{
  padding-bottom:40px;
}
.ag-circles{
  margin-top:50px;
}
.ag-blue-circle{
  display:inline-block;
  width: 10px;
  height:10px;
  border:1px solid #006AFF;
  border-radius:50%;
}
.ag-blue-circle-active{
  background-color: #006AFF;
}
.ag-blue-circle ~ .ag-blue-circle{
  margin-left:5px;
}
#deploy img, #features img{
  width:35px;
}
#regions{
  background-image: linear-gradient(to bottom left, #0047C5, #011F9A);
  color:#fff;
}